/* LEGAL DISCLAIMER
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * fuel.network
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
 *
 * optimo.ch
 */

/* INSTRUCTIONS
 *
 * Copy the Legal Disclaimer, the domains name and the @font-faces statements to your regular CSS file. The fonts folder(s) should be placed relative to the regular CSS file.
 */

  @font-face {
  font-family: 'Px Grotesk';
  src: url('Px-Grotesk-Thin.eot');
  src: url('Px-Grotesk-Thin.eot?#iefix') format('embedded-opentype'),
       url('Px-Grotesk-Thin.woff2') format('woff2'),
       url('Px-Grotesk-Thin.woff') format('woff');
  font-weight: 250;
  font-style: normal;
}
