# Dependencies
node_modules

# Turbo
.turbo

# Build Outputs
dist
.next

# Coverage
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.zed

# Local history
*.history

# Sway
**/out/release

# Test
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e-tests/playwright-report
.env
!docker/.env
/e2e-tests/test-results
**/*.tgz
e2e-tests/runner/playwright-report/
e2e-tests/runner/blob-report/
e2e-tests/runner/test-results/
e2e-tests/runner/.cache-synpress/
e2e-tests/runner/src/contracts/
e2e-tests/runner/src/contracts/contract-ids.json
/packages/evm-predicates/src/generated
/packages/evm-predicates/predicate/out
