
/* Fix for popper content wrapper */
[data-radix-popper-content-wrapper] {
    @media (max-width: 1024px) {
      transform: none !important;
      bottom: 0px;
      top: auto !important;

      & > .fuel-PopoverContent {
        --radius-factor: 1.5;
        --radius-full: 0px;
        --radius-thumb: 9999px;
        border-radius: var(--radius-6) var(--radius-6) 0 0;
        height: 70vh;
        max-height: 70vh;
        width: 100vw;
        max-width: 100%;
      }
    }

    @media (min-width: 1025px) {
        & > .fuel-PopoverContent {
            height: 50vh;
            max-height: 50vh;
            width: 370px;
            max-width: 370px;
        }
    }
}
